doctype html
head
  include headTemplate.pug
  title Book Schedule
  link(rel='stylesheet' href='bookSchedule.css')
  script(defer src='bookSchedule.js')

section.header
  span #{nickname}
  if is_logined
      |  | 
      a(href='/auth/logout') 로그아웃
  else 
      a(href='/auth/login') 로그인
  br

include sideNavi.pug

section.control
  #inputDiv
    fieldset
      legend 계산하기
      | 총 페이지: 
      input#totalPage(type='number' name='totalPage')
      br
      | 하루 목표치: 
      input#goalPage(type='number' name='goalpage')
      br
      input#fromToday(type='radio' name='basis' value='fromToday' checked='')
      label(for='fromToday') 오늘부터
      input#fromSpecDate(type='radio' name='basis' value='fromSpecDate')
      label(for='fromSpecDate') 특정일부터
      input#specDate(type='date' name='specDate')
      br
      button#calBtn 계산
      button#initBtn 초기화
      br
  #listDiv
    fieldset
      legend 불러오기
      #savedList 저장된 스케줄
        ul 
section.display
  table#table
    caption
    thead
      tr
        th 날짜
        th 목표
        th 실행
        th
          button#updateBtn 갱신
    tbody
  button#saveBtn 저장하기
  button#delBtn 삭제하기