doctype html
head
  include headTemplate.pug
  title Calendar for MIYOUNG
  link(rel='stylesheet' href='calendar.css')
  script(defer src='calendar.js')

include sideNavi.pug

table(style='position: relative; top: 56px')
  colgroup
    col(span='7' style='width: 14%;')
    //- col(span='2' style='width: 5%;')
  thead
    tr
      td(colspan='7')
        button#prsMonthBtn 이번 달
        button#prevMonthBtn <
        span#yearMonth #{year}년 #{month}월
        button#nextMonthBtn >
        button#srchBtn 사건 검색
    tr
      td 월요일
      td 화요일
      td 수요일
      td 목요일
      td 금요일
      td 토요일
      td 일요일
  tbody
    tr#w1
    tr#w2
    tr#w3
    tr#w4
    tr#w5
    tr#w6

include bootstrapJS.pug