doctype html
head
  include headTemplate.pug
  title Diet Management
  script(defer src='https://cdn.jsdelivr.net/npm/chart.js')
  script(defer src='diet.js')

include sideNavi.pug

ul(style='position: relative; top: 56px')
  li 
    | 최근 1주(
    span#week 
    | ) 보기
  div
    canvas#weeklyChart
  li
    | 최근 1달(
    span#month
    | ) 보기
  div
    canvas#monthlyChart

include bootstrapJS.pug   
