doctype html
head
  include headTemplate.pug
  title Diet Management
  script(defer src='https://cdn.jsdelivr.net/npm/chart.js')
  script(defer src='diet.js')

span #{nickname}
if is_logined
    |  | 
    a(href='/auth/logout') 로그아웃
else 
    a(href='/auth/login') 로그인
br

include sideNavi.pug

ul
  li 
    | 최근 1주(
    span#week 
    | ) 보기
  div
    canvas#weeklyChart
  li
    | 최근 1달(
    span#month
    | ) 보기
  div
    canvas#monthlyChart
