doctype html
head
    include headTemplate.pug
    title Homepage
    style(type='text/css').
        .list-group {
            align-items: center;
            height: 90vh;
            justify-content: center;
        }
        .list-group-item {
            width: 50%;
            text-align: center;
        }

span #{nickname}
if is_logined
    |  | 
    a.btn.btn-outline-primary(href='/auth/logout') 로그아웃
else 
    a.btn.btn-outline-primary(href='/auth/login') 로그인

.list-group
    a.list-group-item.list-group-item-action(href="/calendar") Calendar
    //- a(href="/case") Case Search
    a.list-group-item.list-group-item-action(href="/diet") Diet Management
    a.list-group-item.list-group-item-action(href="/book") Book Schedule
    //- a(href="/priceCompare") Price Compare
    a.list-group-item.list-group-item-action(href="/scrap") Scrap

include bootstrapJS.pug