doctype html
head 
    include headTemplate.pug
    title 로그인
    style(type='text/css').
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            justify-content: center;
        }
        .form-control {
            width: fit-content;
        }

form(action="/auth/login_process", method="post") 
    input.form-control(type="text", name="id", placeholder='ID')
    input.form-control(type="password", name="password", placeholder='Password')
    button.btn.btn-primary(type="submit") Login

include bootstrapJS.pug