doctype html
head
  include headTemplate.pug
  title #{title}

include sideNavi.pug

section.article_container(style='position: relative; top: 56px')
  article#hani_editorial 
  article#hani_most 
  article#khan_opinion 
  article#khan_most 
  article#sisain1 
  article#sisain2 

script(type='text/javascript').
  let topicNames = Array.from(document.querySelectorAll('article')).map(item => item.id);
  let requests = topicNames.map(topicName => fetch('/scrap/getArticles/' + topicName));
  Promise.all(requests)
    .then(responses => Promise.all(responses.map(r => r.text())))
    .then(lists => lists.forEach( (item, index) => {
      document.getElementById(topicNames[index]).innerHTML = item;
    }));


  //- fetch('/scrap/getArticles/hani_editorial')
  //-   .then(res => res.text())
  //-   .then(data => document.querySelector('#hani_editorial').innerHTML = data);

include bootstrapJS.pug   
