span.menubtn &#9776; menu
#mySidenav.sidenav
  a.closebtn(href='javascript:void(0)') &times;
  a(href='/') Home 
  a(href='/calendar') Calendar
  a(href='/case') Case Search
  a(href='/diet') Diet Management
  a(href='/book') Book Schedule  
  a(href='/priceCompare') Price Compare
  a(href='/scrap') Scrap