table {
  width: 100%;
  height: 100vh;
  text-align: center;
  border-collapse: collapse;
}

thead {
  height: fit-content; 
}

#yearMonth{
  font-size: 1rem;
}

button {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

td {
  border-bottom: 1px solid;
}

.today {
  border: 2px solid blue;
}

.date{
  height: fit-content;
  text-align: left;
}

.scheduleDiv{
  height: 80%;
  text-align: left;
}

.contents{
  width: fit-content;
  border-radius: 5px / 5px;
  background-color: gold;
  margin-bottom: 1px;
}

.checked{
  text-decoration: line-through;
}

fieldset{
  font-size: 2rem;
  width: fit-content;
}

input, textarea, button{
  font-size: 1rem;
}

.menubtn {
  position: absolute;
  left: 5px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}