section {
    margin: 5px 0px;
}

.title {
    display: flex;
}

h3 {
    flex-basis: 50%;
    text-align: center;
}

.result_container {
    display: flex;
}

.result {
    flex-wrap: wrap;
    flex-basis: 50%;
}

.item {
    display: block;
    margin-bottom: 5px;
}

.list_container {
    display: flex;
    flex-wrap: wrap;
}

.list {
    justify-content: space-around;
    margin: 5px;
}

.delBtn {
    
    margin-left: 5px;
    padding: 2px;
}